---
layout: clean
title: Arquivo de News
generator: pagination
pagination:
    provider: data.posts
    max_per_page: 15
use: [posts]
---

<!-- ------------------------------------------------------------------------------------------------------------------
  Caro desenvolvedor legal:
    NÃO RENOMEIE ESTE ARQUIVO PARA .TWIG.
    Por um bug no lindo do Sculpin, aparentemente as páginas geradas pelo plugin de paginação são criadas com a extensão
    .twig no final, zoando a navegação do site. Então, sim, você vai ficar sem markup de twig aqui. NEM TENTE.
------------------------------------------------------------------------------------------------------------------- -->

<header class="random-bg">
    <div class="inner"><h2>Arquivo de News</h2></div>
</header>

<section id="archive" class="wrapper style5 special">
    <div class="inner">

        {% set year = '0' %}
        {% for post in page.pagination.items %}
            {% set this_year %}{{ post.date | date("Y") }}{% endset %}
            {% if year != this_year %}
                {% set month = '0' %}
                {% set year = this_year %}
            {% endif %}

            {% set this_month %}{{ attribute(site.meses, post.date|date("n") - 1) }}{% endset %}
            {% if month != this_month %}
                {% set month = this_month %}
                <h3>{{ month }} de {{ year }}</h3>
            {% endif %}

            <div><a href="{{ post.url }}">{{ post.title }}</a></div>
        {% endfor %}

        <aside>
            {% if page.pagination.previous_page or page.pagination.next_page %}
                <nav class="article">
                    {% if page.pagination.previous_page %}
                        <a class="button small special" href="{{ page.pagination.previous_page.url }}" title="Página anterior">
                            <span class="title"><i class="fa fa-arrow-left"></i> Página anterior</span>
                        </a>
                    {% endif %}

                    {% if page.pagination.next_page %}
                        <a class="button small special" href="{{ page.pagination.next_page.url }}" title="Próxima página">
                            <span class="title">Próxima página <i class="fa fa-arrow-right"></i></span>
                        </a>
                    {% endif %}
                </nav>
            {% endif %}
        </aside>

    </div>
</section>
