#archive {
    &.tags {
        text-align: left;
    }

    h3 {
        margin-bottom: 0;
    }

    div + h3 {
        margin-top: _size(element-margin);
    }

    ul.features {
        li {
            @include padding(2em, 2em, (0,0,2em,0));
        }
    }
}
