#header {
    @include vendor('transition', 'background-color #{_duration(transitions)} ease');
    background: _palette(accent5, bg);
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: _misc(z-index-base);

    h1 {
        @include vendor('transition', 'opacity #{_duration(transitions)} ease');
        height: inherit;
        left: 1.25em;
        line-height: inherit;
        position: absolute;
        top: 0;
        text-transform: none;

        img {
            max-height: 30px;
            vertical-align: text-bottom;
        }

        a {
            border: 0;
            display: block;
            height: inherit;
            line-height: inherit;

            @include breakpoint(small) {
                font-size: 0.8em;
            }
        }
    }

    nav {
        height: inherit;
        line-height: inherit;
        position: absolute;
        right: 0;
        top: 0;

        > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            white-space: nowrap;

            > li {
                display: inline-block;
                padding: 0;

                > a {
                    border: 0;
                    color: _palette(fg-bold);
                    display: block;
                    font-size: 0.8em;
                    letter-spacing: _size(letter-spacing-alt);
                    padding: 0 1.5em;
                    text-transform: uppercase;

                    &.menuToggle {
                        outline: 0;
                        position: relative;

                        &:after {
                            background: url('images/bars.svg') no-repeat right center;
                            content: '';
                            display: inline-block;
                            height: 3.75em;
                            vertical-align: top;
                            width: 2em;
                        }

                        @include breakpoint(small) {
                            padding: 0 1.5em;

                            span {
                                display: none;
                            }
                        }
                    }

                    @include breakpoint(small) {
                        padding: 0 0 0 1.5em;
                    }
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    &.alt {
        background: transparent;

        h1 {
            @include vendor('pointer-events', 'none');
            opacity: 0;
        }
    }
}

.random-bg {
    background: no-repeat center center;
    background-size: cover;

    .inner {
        width: 100%;
        margin: 0 auto;
        padding: _size(element-margin) 0;
        background-color: transparentize(#333, 0.43);
        border-radius: 3px;
    }
}
